/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
h1, h2, h3, p, body {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
}

.clouds {
    height: 100vh;
}
.odin-logo{
    width: 25%;
}
.odin-title {
    bottom: 280px;
    font-family: 'Rubik Puddles', cursive;
    font-size: 3rem;
    color: white;
}
.logo-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 200px;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.2)
}
.attribution {
    position: absolute;
    bottom: 20px;
    color: white;
}
.logo-section {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    color: white;
}
.form-content {
    flex: 1 1 60%;
    background-color: #F3BCC8;
}