/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
    position: relative;
    margin: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.logo-section {
    position: relative;
    width: 40vw;
    height: 100vh;
    background-image: url("images/mountain.jpg");
    background-size: cover;
}
.logo-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    padding: 5% 0;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.5);
}
.odin-logo {
    width: 30%;
}
.odin-title {
    font-family: 'Bungee Inline', cursive;
    color: white;
}
.attribution {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}
a {
    color: white;
}
.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100vh;
    background-color: #7288a0;
}
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
}
.login-text {
    text-align: left;
}
.login-link{
    text-decoration: none;
}
input {
    border-radius: 5px;
    border: 0px solid black;
    height: 25px;
}

input:user-invalid{
    border: 2px solid red;
}
.submit-btn {
    margin-top: 10px;
    width: 40%;
    height: 10%;
    border-radius: 6px;
    border: 0px solid black;
    font-size: 1rem;
    background-color: #a9b5c0;
}
.submit-btn:hover{
    background-color: #95bbd0;
    color: white;
}
h2 {
    font-size:xx-large;
}
.form-intro-text {
    width: 60%;
    font-size: large;
}